<div class="jumbotron">
  <div class="text-center">
    <img src="images/steam_logo.png" alt="" width="25%">
  </div>
  <div class="text-center">
    <h1>Steam API : How-To Guide</h1>
    <h3>By Matt Fry</h3>
  </div>
</div>
<div class="container">
  <p>In this guide we will walk through the process of getting data from the Steam API. We will start with the basics and look at some challenges that
   you may face. At the end we will put it together and give a more involved example of some of the cool things you can do with this data.</p>
<h3>What is an API</h3>
<p>An API, application program interface, is a useful tool that can be very helpful and allow you to do cool things while making a program.
  Public APIs allow a developer to share data with users without exposing any of the important underlying code. The user is given a basic
  interface that allows them to send requests and get data back. APIs are everywhere and you may not realize it. Tons of companies like Facebook,
  Twitter, and Google provide public APIs.</p>

<h3>The Steam API</h3>
<p>Steam is a program that is widely used by PC video game players. A user can buy and play their PC games through it which gives the convenience
  of central hub for everything. You have all of your games in one library, can connect with other steam users, and have a collection of all game
  achievements you’ve earned.</p>
<p>The Steam API allows us to get a good amount of data. Most of it comes down to information about users, games, achievements, and combinations of
  these things.</p>


 <div class="text-center"><br>
  <a href="/getting-started"><button type="button" class="btn btn-default">Next : Getting Started</button></a>
 </div>
</div>
